body {
  font-family: "Roboto", sans-serif;
}
.aro-background {
  height: 799px;
  width: 320px;
  background-image: url(./img/hero-background.webp);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.container {
  width: 320px;
  margin: 0 auto;
}
.b {
  height: 303px;
  width: 320px;
  background-image: url(./img/putting-phone-in-aro.webp);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.aro-button {
  height: 177px;
  width: 320px;
  background-image: url(./img/background-aro.webp);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}
.div-direction {
  display: flex;
  flex-direction: row;
  gap: 35px;
}
.underline {
  border-bottom: 1px solid rgba(36, 22, 11, 0.12);
}
.intoduction {
  font-size: 32px;
  line-height: 1.15;
  text-align: left;
}
.introduction-text {
  font-size: 17px;
  line-height: 1.8;
  text-align: left;
}
.aro-introduction {
  font-size: 20px;
  line-height: 1.5;
  text-align: left;
}
.aro-introducment-text-1 {
  font-size: 12px;
  line-height: 2.55;
  text-align: left;
}

.aro-basics {
  font-size: 32px;
  line-height: 1.18;
  text-align: left;
}
.aro-introducment-text {
  font-size: 18px;
  line-height: 1.7;
  text-align: left;
}
.percentage-text {
  font-size: 12px;
  line-height: 1.87;
  text-align: left;
  width: 177px;
  height: 65px;
}
.percentage-div {
  display: flex;
  flex-direction: row;
}
.percentage {
  font-size: 40px;
  line-height: 1.4;
  text-align: left;
}
.featured {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 28px;
}
.nav-hide {
  display: flex;
  flex-direction: row;
  font-size: 10px;
  line-height: 1.2;
  justify-content: right;
  gap: 20px;
}
.get-started {
  border-radius: 80px;
  background: #efae35;
}
.Featuring {
  display: flex;
  justify-content: center;
  text-align: center;
}
.Featured-In {
  width: 41px;
}
.featured-list {
}
.intoducment-list {
  display: flex;
  flex-direction: column;
}
.a-background {
  width: 320px;
  height: 303px;
  background-image: url(./background.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.a-background-title {
  color: rgb(255, 255, 255);
  font-size: 32px;
  line-height: 0.84; /* 84.375% */
}
.a-background-text {
  width: 157px;
  height: 45px;
  color: rgb(255, 255, 255);
  font-size: 12px;
  line-height: 1.25; /* 125% */
}
.a-background-video-elements {
  display: flex;
}
.a-background-video {
  width: 41px;
  height: 38px;
  background: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
}
.a-background-video-triangle {
  width: 6px;
  height: 8px;
  flex-shrink: 0;
}
.a-background-video-text {
  color: #ffffff;
  font-size: 15px;
  line-height: 1.46; /* 146.667% */
}
.a-list-item-parts {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.a-list-item-text1 {
  width: 135px;
  font-size: 11px;
  line-height: 1.64; /* 163.636% */
}
.a-list {
  color: #24160b;
}
.a-list-item-title {
  font-size: 43px;
  line-height: 1.33; /* 133.023% */
}
.a-list-item-title:first-child {
  font-size: 43px;
  line-height: 1.06; /* 106.977% */
}
.a-list-item-title2 {
  color: rgb(36, 22, 11);
  font-size: 43px;

  line-height: 1.33; /* 133.023% */
}
.a-list-item-title3 {
  color: rgb(36, 22, 11);
  font-size: 43px;
  line-height: 1.33; /* 133.023% */
}
.a-list-item-foto {
  width: 142px;
  height: 140px;
}
.a-list-item-text2 {
  color: rgb(36, 22, 11);
  font-size: 11px;
  line-height: 1.63; /* 163.636% */
}
.a-list-item-text3 {
  color: rgb(36, 22, 11);
  font-size: 11px;
  line-height: 1.63; /* 163.636% */
}
.a-list-item-foto1 {
  width: 142px;
  height: 140px;
  border-radius: 16px;
  background-image: url(./1.1.jpg);
}
.a-list-item-foto2 {
  width: 143px;
  height: 140px;
  border-radius: 16px;
  background-image: url(./1.2.jpg);
}
.a-list-item-foto3 {
  width: 141px;
  height: 140px;
  border-radius: 16px;
  background-image: url(./1.3.jpg);
}
.a-list-item-foto-text {
  color: #24160b;
  font-size: 12px;

  line-height: 1.42; /* 141.667% */
}
.a-background2 {
  width: 320px;
  height: 177px;
  background-image: url(./background2.jpg);
  display: flex;
  justify-content: center;
  align-items: center;
}
.a-background2-button {
  width: 70px;
  height: 18px;
  border-radius: 80px;
  background: rgb(245, 248, 250);
  box-shadow: -1px 1px 2px 0px rgba(0, 0, 0, 0.07);
  display: flex;
  align-items: center;
}
.a-background2-text {
  width: 43.869px;
  height: 14px;
  color: rgb(36, 22, 11);
  font-size: 10px;
  line-height: 1.6; /* 160% */
}
.contacts-list {
  background: #24160b;
  color: #fff;
  font-size: 9px;
  line-height: 1.22;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.contacts-list-item {
  max-width: 96px;
  padding-left: 7px;
  padding-bottom: 10px;
}

.contacts-list-item-text-small {
  margin-top: 10px;
}
.flex-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.media-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.media-list-item {
  margin-left: 9px;
  margin-top: 28px;
}

.images {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.imageeeeeee {
  margin-bottom: 6px;
}
.action-aro {
  width: 320px;
  height: 303px;
  background-image: url(./img/background767.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.aro-action {
  color: #fff;
  font-size: 32px;
  line-height: 0.84; /* 84.375% */
}
.action-text {
  color: #fff;
  font-size: 12px;
  line-height: 1.25; /* 125% */
}
.button-action {
  width: 320px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bttn-action {
  width: 41px;
  height: 38px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.img-family-background {
  background-image: url(./img/./family-photo-aro.webp);
  width: 233px;
  height: 152px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  flex-direction: column;
  color: #fff;
}
.text-fam-back {
  color: #fff;
  font-size: 12px;
  line-height: 1.41; /* 141.667% */
}
.text-family-back {
  width: 141px;
  height: 26px;
  font-size: 10px;
  line-height: 1.3; /* 130% */
}
.join-now {
  border-radius: 80px;
  background: #efae35;
}
.media-list-2 {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}
.title-thing {
  text-align: center;
  color: #000;
}
.title {
  font-size: 24px;
  line-height: 1.12;
}
.text-3 {
  color: #24160b;
  font-size: 10px;
  line-height: 1.1;
}
.title-2 {
  font-size: 24px;
  line-height: 1.2;
}
.media-list-2-item {
  position: relative;
  text-align: center;
}
.media-list-2-item img {
  width: 100%;
  transition: opacity 0.5s;
}
.text-item {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #000;
  max-width: 130px;
  max-height: 150px;
  font-size: 10px;
  line-height: 1.1;
}
.Extra-linkk {
  width: 70px;
  height: 18px;
  border-radius: 80px;
  background: #f5f8fa;
  box-shadow: -1px 1px 2px 0px rgba(0, 0, 0, 0.07);
}
.media-list-2-item.faded img {
  opacity: 0.3;
}
.media-list-2-item.faded .text-item {
  display: block;
}
.media-list-2-item img {
  width: 134px;
  height: 150px;
}
#hide-text p {
  display: none;
}
@media (max-width: 767px) {
  #hide-text .mobile {
    display: inline;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  #hide-text .tablet {
    display: inline;
  }
}
@media (min-width: 768px) {
  .container {
    width: 768px;
  }
  .aro-background {
    background-image: url(./img/family-in-tent-background.webp);
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .container-5 {
    margin-left: 76px;
  }
  .nav-hide {
    color: #222;
    font-size: 17px;
    line-height: 1.48;
    display: flex;
    justify-content: space-around;
  }
  .intoduction {
    color: #000;
    font-size: 60px;
    line-height: 1.2;
  }
  .aro-button {
    width: 677px;
    height: 412px;
    margin-left: 46px;
    margin-right: 45px;
    margin-bottom: 121px;
    margin-top: 161px;
  }
  .introduction-text {
    color: #000;
    font-size: 17px;
    line-height: 1.8; /* 180% */
  }
  .a-background {
    height: 802px;
    background-image: url(./img/background767.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .contacts-list {
    width: 768px;
    height: 549px;
  }
  .contacts-list-item{
    width: 202px;
    gap: 25px;
  }
  .contacts-list-item-text {
    font-size: 18px;
    line-height: 1.7; /* 170% */
  }
  .a-background-title {
    width: 442px;
    font-size: 58px;
    line-height: 1.24; /* 124.138% */
  }
  .a-background-text {
    width: 566px;
    height: 40px;
    font-size: 17px;
    line-height: 2.33; /* 232.941% */
  }
  .a-list-item-parts {
  }
  .a-background-video {
    width: 128px;
    height: 128px;
  }
  .Extra-linkk {
    width: 148px;
    height: 41px;
  }
  .a-background-video-triangle {
    width: 18px;
    height: 26px;
    flex-shrink: 0;
  }
  .a-background-video-text {
    font-size: 39px;
    line-height: 1.33; /* 133.333% */
  }

  .a-list-item-title {
    width: 374px;
    font-size: 43px;
    line-height: 1.33; /* 133.023% */
  }

  .a-list-item-text1 {
    width: 326px;
    font-size: 18px;
    line-height: 1.7; /* 170% */
  }
  .a-list-item-foto1 {
    width: 333px;
    height: 323px;
    border-radius: 16px;
    background: url(2.1.jpg);
  }
  .a-list-item-foto2 {
    width: 333px;
    height: 305px;
    border-radius: 16px;
    background: url(2.2.jpg);
  }
  .featured-list-item img {
    width: 81px;
    height: 33px;
  }
  .featured {
    gap: 77px;
  }
  .a-list-item-foto3 {
    width: 333px;
    height: 323px;
    border-radius: 16px;
    background-image: url(./2.3.jpg);
  }
  .a-list-item-foto-text {
    font-size: 17px;
    line-height: 1.48; /* 148.235% */
  }
  .a-list-item-title2 {
    width: 243px;
    font-size: 43px;
    line-height: 1.33; /* 133.023% */
  }
  .a-list-item-text2 {
    width: 330px;
    font-size: 18px;
    line-height: 1.39; /* 138.889% */
  }
  .a-list-item-title3 {
    width: 408px;
    font-size: 42px;
    line-height: 1.36; /* 136.19% */
  }
  .a-list-item-text3 {
    width: 333px;
    font-size: 18px;
    line-height: 1.7; /* 170% */
  }
  .a-background2 {
    width: 677px;
    height: 412px;
    background-image: url(./img/background677.jpg);
  }
  .a-background2-button {
    width: 148px;
    height: 41px;
  }
  .a-background2-text {
    font-size: 17px;
  }
  .media-list-2-item img {
    width: 164px;
    height: 205px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1200px;
  }
  .a-background {
    width: 1200px;
    height: 802px;
    flex-shrink: 0;
    background-image: url(./img/background1200.jpg);
  }
  .Extra-linkk {
    width: 225px;
    height: 57px;
  }
  .a-list-item-title {
    width: 373px;
    font-size: 43px;
    line-height: 1.33; /* 133.023% */
  }
  .featured {
    gap: 80px;
    justify-content: center;
    max-width: 840px;
  }
  .a-list-item-text1 {
    width: 448px;
    font-size: 18px;
    line-height: 1.7; /* 170% */
  }
  .a-list-item-foto1 {
    width: 458px;
    height: 323px;
    flex-shrink: 0;
    background-image: url(./3.1.jpg);
  }
  #hide-text .desktop {
    display: inline;
  }
  .a-list-item-title2 {
    width: 241px;
    font-size: 43px;
    line-height: 1.33; /* 133.023% */
  }
  .a-list-item-foto2 {
    width: 458px;
    height: 305px;
    background-image: url(./3.2.jpg);
  }
  .Featuring {
    width: 840px;
  }
  .a-list-item-text2 {
    width: 454px;
    font-size: 18px;
    line-height: 1.7; /* 170% */
  }
  .aro-button {
    margin-bottom: 137px;
    margin-top: 140px;
    margin-left: 90px;
    margin-right: 90px;
  }
  .a-list-item-title3 {
    width: 411px;
    font-size: 42px;
    line-height: 1.36; /* 136.19% */
  }

  .a-list-item-foto3 {
    width: 458px;
    height: 323px;
    flex-shrink: 0;
    background-image: url(./3.3.jpg);
  }
  .a-background2 {
    width: 1020px;
    height: 574px;
    flex-shrink: 0;
    background-image: url(./img/background1020.jpg);
  }
  .media-list-2-item img {
    width: 231px;
    height: 289px;
  }
}
